@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans [scrollbar-color:#cbd5e1_transparent];
  }
  :root {
    --background: 0 0% 100%;

    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;

    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;

    --popover-foreground: 224 71.4% 4.1%;

    --primary: 220.9 39.3% 11%;

    --primary-foreground: 210 20% 98%;

    --secondary: 220 14.3% 95.9%;

    --secondary-foreground: 220.9 39.3% 11%;

    --muted: 220 14.3% 95.9%;

    --muted-foreground: 220 8.9% 46.1%;

    --accent: 220 14.3% 95.9%;

    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;

    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;

    --input: 220 13% 91%;

    --ring: 224 71.4% 4.1%;

    --chart-1: 12 76% 61%;

    --chart-2: 173 58% 39%;

    --chart-3: 197 37% 24%;

    --chart-4: 43 74% 66%;

    --chart-5: 27 87% 67%;

    --radius: 0.5rem;
  }
  .dark {
    --background: 224 71.4% 4.1%;

    --foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;

    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;

    --popover-foreground: 210 20% 98%;

    --primary: 210 20% 98%;

    --primary-foreground: 220.9 39.3% 11%;

    --secondary: 215 27.9% 16.9%;

    --secondary-foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;

    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;

    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;

    --destructive-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;

    --input: 215 27.9% 16.9%;

    --ring: 216 12.2% 83.9%;

    --chart-1: 220 70% 50%;

    --chart-2: 160 60% 45%;

    --chart-3: 30 80% 55%;

    --chart-4: 280 65% 60%;

    --chart-5: 340 75% 55%;
  }
}

@layer components {
  .sidebar-group {
    @apply flex w-full flex-col gap-y-3;
  }

  .sidebar-group-title {
    @apply overflow-hidden text-ellipsis text-sm font-medium text-slate-600;
  }

  .sidebar-item {
    @apply flex h-[30px] w-full flex-shrink-0 items-center gap-x-3 p-3 text-base font-medium text-slate-900 transition-colors hover:bg-green-50;
    &.active {
      @apply bg-[#003366] text-slate-50 border-l-4 border-[#00FF00];
    }
  }

  .title {
    @apply text-2xl font-kanit font-semibold text-slate-900 transition-colors;
  }

  .btn-ghost {
    @apply flex h-10 flex-shrink-0 items-center justify-center gap-x-2 rounded-full p-2 text-slate-400 transition-colors hover:bg-[#102A4350] hover:text-slate-500;
  }

  .link {
    @apply text-base font-medium text-slate-900 transition-colors hover:underline;
  }

  .input {
    @apply hidden h-10 flex-shrink-0 items-center gap-x-2 rounded-lg border border-slate-300 px-2 text-base text-slate-900 transition-colors has-[input:focus]:border-green-500 md:flex md:w-auto lg:w-80;
  }

  .card {
    @apply flex flex-col gap-y-4 rounded-lg border border-slate-300 bg-white p-4 transition-colors;
  }

  .card-header {
    @apply flex items-center gap-x-2;
  }

  .card-title {
    @apply font-medium text-slate-900 transition-colors;
  }

  .card-body {
    @apply flex flex-col gap-y-2 rounded-lg p-4;
  }

  .table {
    @apply h-full w-full text-slate-900;
  }

  .table-header {
    @apply sticky top-0 bg-slate-200 transition-[background];
  }

  .table-row {
    @apply border-b border-slate-300 transition-colors last:border-none;
  }

  .table-head {
    @apply h-12 px-4 text-start;
  }

  .table-cell {
    @apply w-fit whitespace-nowrap p-4 font-medium;
  }
}

.recharts-default-tooltip {
  @apply !rounded-lg !border !border-slate-300 !bg-white transition-colors;
}

.recharts-tooltip-label {
  @apply text-base font-medium text-slate-900;
}

.recharts-tooltip-item {
  @apply text-base font-medium !text-green-500;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
